{% extends 'base/homeBase.html' %}
{% load static %}

<!-- ============================ Featured Property Start ================================== -->
{% block content %}
<section>
	<div class="container">
		
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8">
				<div class="sec-heading center">
					<h2>Featured Property</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>
			</div>
		</div>
		
		<div class="row">
		
			<!-- Single Property -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="single_property_style property_style_2 modern">
			
					<div class="listing_thumb_wrapper">
						<div class="property_gallery_slide-thumb">
							<a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt=""></a>
						</div>
						<div class="uilist_view_thumb">
							<a href="#" class="uilist-btn text-warning" data-toggle="tooltip" data-original-title="304 Views"><i class="ti-eye"></i></a>
							<a href="#" class="uilist-btn text-success" data-toggle="tooltip" data-original-title="Compare Property"><i class="lni lni-shuffle"></i></a>
							<a href="#" class="uilist-btn text-danger" data-toggle="tooltip" data-original-title="Save Property"><i class="ti-heart"></i></a>
						</div>
					</div>
					
					<div class="property_caption_wrappers pb-0">
						<div class="property_short_detail">
							<div class="pr_type_status">
								<h4 class="pr-property_title mb-1"><a href="single-property-1.html">Riqaza Apartment Montreal</a></h4>
								<div class="listing-location-name"><a href="single-property-1.html">Resort Valley Ocs, USA</a></div>
							</div>
							<div class="property-real-price"><a href="single-property-1.html" class="cl-blue">$ 786,000<span class="price_status">/mo</span></a></div>
						</div>
					</div>
					
					<div class="modern_property_footer">
						<div class="property-lists flex-1">
							<ul>
								<li><span class="flatcons"><img src="assets/img/bed.svg" alt=""></span>3 Beds</li>
								<li><span class="flatcons"><img src="assets/img/bath.svg" alt=""></span>2 Baths</li>
							</ul>
						</div>
						<div class="fp_types">For Rent</div>
					</div>
				</div>
			</div>
			
			<!-- Single Property -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="single_property_style property_style_2 modern">
			
					<div class="listing_thumb_wrapper">
						<div class="property_gallery_slide-thumb">
							<a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt=""></a>
						</div>
						<div class="uilist_view_thumb">
							<a href="#" class="uilist-btn text-warning" data-toggle="tooltip" data-original-title="304 Views"><i class="ti-eye"></i></a>
							<a href="#" class="uilist-btn text-success" data-toggle="tooltip" data-original-title="Compare Property"><i class="lni lni-shuffle"></i></a>
							<a href="#" class="uilist-btn text-danger" data-toggle="tooltip" data-original-title="Save Property"><i class="ti-heart"></i></a>
						</div>
					</div>
					
					<div class="property_caption_wrappers pb-0">
						<div class="property_short_detail">
							<div class="pr_type_status">
								<h4 class="pr-property_title mb-1"><a href="single-property-1.html">Riqaza Apartment Montreal</a></h4>
								<div class="listing-location-name"><a href="single-property-1.html">Resort Valley Ocs, USA</a></div>
							</div>
							<div class="property-real-price"><a href="single-property-1.html" class="cl-blue">$ 786,000<span class="price_status">/mo</span></a></div>
						</div>
					</div>
					
					<div class="modern_property_footer">
						<div class="property-lists flex-1">
							<ul>
								<li><span class="flatcons"><img src="assets/img/bed.svg" alt=""></span>3 Beds</li>
								<li><span class="flatcons"><img src="assets/img/bath.svg" alt=""></span>2 Baths</li>
							</ul>
						</div>
						<div class="fp_types">For Rent</div>
					</div>
				</div>
			</div>

			<!-- Single Property -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="single_property_style property_style_2 modern">
			
					<div class="listing_thumb_wrapper">
						<div class="property_gallery_slide-thumb">
							<a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt=""></a>
						</div>
						<div class="uilist_view_thumb">
							<a href="#" class="uilist-btn text-warning" data-toggle="tooltip" data-original-title="304 Views"><i class="ti-eye"></i></a>
							<a href="#" class="uilist-btn text-success" data-toggle="tooltip" data-original-title="Compare Property"><i class="lni lni-shuffle"></i></a>
							<a href="#" class="uilist-btn text-danger" data-toggle="tooltip" data-original-title="Save Property"><i class="ti-heart"></i></a>
						</div>
					</div>
					
					<div class="property_caption_wrappers pb-0">
						<div class="property_short_detail">
							<div class="pr_type_status">
								<h4 class="pr-property_title mb-1"><a href="single-property-1.html">Riqaza Apartment Montreal</a></h4>
								<div class="listing-location-name"><a href="single-property-1.html">Resort Valley Ocs, USA</a></div>
							</div>
							<div class="property-real-price"><a href="single-property-1.html" class="cl-blue">$ 786,000<span class="price_status">/mo</span></a></div>
						</div>
					</div>
					
					<div class="modern_property_footer">
						<div class="property-lists flex-1">
							<ul>
								<li><span class="flatcons"><img src="assets/img/bed.svg" alt=""></span>3 Beds</li>
								<li><span class="flatcons"><img src="assets/img/bath.svg" alt=""></span>2 Baths</li>
							</ul>
						</div>
						<div class="fp_types">For Rent</div>
					</div>
				</div>
			</div>

			<!-- Single Property -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="single_property_style property_style_2 modern">
			
					<div class="listing_thumb_wrapper">
						<div class="property_gallery_slide-thumb">
							<a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt=""></a>
						</div>
						<div class="uilist_view_thumb">
							<a href="#" class="uilist-btn text-warning" data-toggle="tooltip" data-original-title="304 Views"><i class="ti-eye"></i></a>
							<a href="#" class="uilist-btn text-success" data-toggle="tooltip" data-original-title="Compare Property"><i class="lni lni-shuffle"></i></a>
							<a href="#" class="uilist-btn text-danger" data-toggle="tooltip" data-original-title="Save Property"><i class="ti-heart"></i></a>
						</div>
					</div>
					
					<div class="property_caption_wrappers pb-0">
						<div class="property_short_detail">
							<div class="pr_type_status">
								<h4 class="pr-property_title mb-1"><a href="single-property-1.html">Riqaza Apartment Montreal</a></h4>
								<div class="listing-location-name"><a href="single-property-1.html">Resort Valley Ocs, USA</a></div>
							</div>
							<div class="property-real-price"><a href="single-property-1.html" class="cl-blue">$ 786,000<span class="price_status">/mo</span></a></div>
						</div>
					</div>
					
					<div class="modern_property_footer">
						<div class="property-lists flex-1">
							<ul>
								<li><span class="flatcons"><img src="assets/img/bed.svg" alt=""></span>3 Beds</li>
								<li><span class="flatcons"><img src="assets/img/bath.svg" alt=""></span>2 Baths</li>
							</ul>
						</div>
						<div class="fp_types">For Rent</div>
					</div>
				</div>
			</div>

			<!-- Single Property -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="single_property_style property_style_2 modern">
			
					<div class="listing_thumb_wrapper">
						<div class="property_gallery_slide-thumb">
							<a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt=""></a>
						</div>
						<div class="uilist_view_thumb">
							<a href="#" class="uilist-btn text-warning" data-toggle="tooltip" data-original-title="304 Views"><i class="ti-eye"></i></a>
							<a href="#" class="uilist-btn text-success" data-toggle="tooltip" data-original-title="Compare Property"><i class="lni lni-shuffle"></i></a>
							<a href="#" class="uilist-btn text-danger" data-toggle="tooltip" data-original-title="Save Property"><i class="ti-heart"></i></a>
						</div>
					</div>
					
					<div class="property_caption_wrappers pb-0">
						<div class="property_short_detail">
							<div class="pr_type_status">
								<h4 class="pr-property_title mb-1"><a href="single-property-1.html">Riqaza Apartment Montreal</a></h4>
								<div class="listing-location-name"><a href="single-property-1.html">Resort Valley Ocs, USA</a></div>
							</div>
							<div class="property-real-price"><a href="single-property-1.html" class="cl-blue">$ 786,000<span class="price_status">/mo</span></a></div>
						</div>
					</div>
					
					<div class="modern_property_footer">
						<div class="property-lists flex-1">
							<ul>
								<li><span class="flatcons"><img src="assets/img/bed.svg" alt=""></span>3 Beds</li>
								<li><span class="flatcons"><img src="assets/img/bath.svg" alt=""></span>2 Baths</li>
							</ul>
						</div>
						<div class="fp_types">For Rent</div>
					</div>
				</div>
			</div>

			<!-- Single Property -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="single_property_style property_style_2 modern">
			
					<div class="listing_thumb_wrapper">
						<div class="property_gallery_slide-thumb">
							<a href="single-property-1.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid mx-auto" alt=""></a>
						</div>
						<div class="uilist_view_thumb">
							<a href="#" class="uilist-btn text-warning" data-toggle="tooltip" data-original-title="304 Views"><i class="ti-eye"></i></a>
							<a href="#" class="uilist-btn text-success" data-toggle="tooltip" data-original-title="Compare Property"><i class="lni lni-shuffle"></i></a>
							<a href="#" class="uilist-btn text-danger" data-toggle="tooltip" data-original-title="Save Property"><i class="ti-heart"></i></a>
						</div>
					</div>
					
					<div class="property_caption_wrappers pb-0">
						<div class="property_short_detail">
							<div class="pr_type_status">
								<h4 class="pr-property_title mb-1"><a href="single-property-1.html">Riqaza Apartment Montreal</a></h4>
								<div class="listing-location-name"><a href="single-property-1.html">Resort Valley Ocs, USA</a></div>
							</div>
							<div class="property-real-price"><a href="single-property-1.html" class="cl-blue">$ 786,000<span class="price_status">/mo</span></a></div>
						</div>
					</div>
					
					<div class="modern_property_footer">
						<div class="property-lists flex-1">
							<ul>
								<li><span class="flatcons"><img src="assets/img/bed.svg" alt=""></span>3 Beds</li>
								<li><span class="flatcons"><img src="assets/img/bath.svg" alt=""></span>2 Baths</li>
							</ul>
						</div>
						<div class="fp_types">For Rent</div>
					</div>
				</div>
			</div>						
			
		</div>
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 text-center">
				<a href="#" class="btn btn-theme arrow-btn bg-2">Browse All Property<span><i class="ti-arrow-right"></i></span></a>
			</div>
		</div>
		
	</div>
</section>
<div class="clearfix"></div>
<!-- ============================ Featured Property End ================================== -->

<!-- ============================ Recent Properties Start ================================== -->
<section class="gray-simple min">
	<div class="container">
		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 mb-3">
				<div class="sec-heading2">
					<div class="sec-left">
						<h2>Recent Offices</h2>
					</div>
					<div class="sec-right">
						<div class="filterspace__controls">
							<ul class="nav nav-pills" id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="rent-tab" data-toggle="pill" href="#pills-rent" role="tab" aria-controls="pills-rent" aria-selected="true">Rent</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="buy-tab" data-toggle="pill" href="#pills-buy" role="tab" aria-controls="pills-buy" aria-selected="false">Buy</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="sell-tab" data-toggle="pill" href="#pills-sell" role="tab" aria-controls="pills-sell" aria-selected="false">Sell</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
		
			<!-- Single Property -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="list-slide-box">
					<div class="modern-list">
						<div class="grid-category-thumb">
							<a href="single-property-3.html" class="overlay-cate"><img src="https://via.placeholder.com/1200x800" class="img-responsive" alt=""></a>
							<div class="property_meta simple">
								<a href="#" class="cate-trix theme-cl">For Sale</a>
							</div>
						</div>
						<div class="modern-list-content">
							<div class="author-avater">
								<img src="https://via.placeholder.com/500x500" class="author-avater-img" alt="">
							</div>
							<div class="listing-content-wrap smalls">
								<h4 class="lst-title"><a href="single-property-3.html">Hizrat Villa</a></h4> 
								<p>San Francisco, USA</p>
							</div>
							<div class="listing-footer-wrap property-lists mt-2">
								<div class="property-lists flex-1">
									<ul>
										<li><span class="flatcons"><img src="assets/img/color-bed.svg" alt=""></span>3 Beds</li>
										<li><span class="flatcons"><img src="assets/img/color-bathroom.svg" alt=""></span>2 Baths</li>
									</ul>
								</div>
								<h4 class="mdr-price">$650</h4>
							</div>
						</div>
					</div>	
				</div>
			</div>
	
			<!-- Single Property -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="list-slide-box">
					<div class="modern-list">
						<div class="list-badge now-close">Featured</div>
						<div class="grid-category-thumb">
							<a href="single-property-3.html" class="overlay-cate"><img src="https://via.placeholder.com/1200x800" class="img-responsive" alt=""></a>
							<div class="property_meta simple">
								<a href="#" class="cate-trix theme-cl">For Rent</a>
							</div>
						</div>
						<div class="modern-list-content">
							<div class="author-avater">
								<img src="https://via.placeholder.com/500x500" class="author-avater-img" alt="">
							</div>
							<div class="listing-content-wrap smalls">
								<h4 class="lst-title"><a href="single-property-3.html">Resort Valley Ocs</a></h4> 
								<p>San Francisco, Canada</p>
							</div>
							<div class="listing-footer-wrap property-lists mt-2">
								<div class="property-lists flex-1">
									<ul>
										<li><span class="flatcons"><img src="assets/img/color-bed.svg" alt=""></span>3 Beds</li>
										<li><span class="flatcons"><img src="assets/img/color-bathroom.svg" alt=""></span>2 Baths</li>
									</ul>
								</div>
								<h4 class="mdr-price">$750</h4>
							</div>
						</div>
					</div>	
				</div>
			</div>
			
			<!-- Single Property -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="list-slide-box">
					<div class="modern-list">
						<div class="grid-category-thumb">
							<a href="single-property-3.html" class="overlay-cate"><img src="https://via.placeholder.com/1200x800" class="img-responsive" alt=""></a>
							<div class="property_meta simple">
								<a href="#" class="cate-trix theme-cl">For Sale</a>
							</div>
						</div>
						<div class="modern-list-content">
							<div class="author-avater">
								<img src="https://via.placeholder.com/500x500" class="author-avater-img" alt="">
							</div>
							<div class="listing-content-wrap smalls">
								<h4 class="lst-title"><a href="single-property-3.html">New Clue Apartment</a></h4> 
								<p>Liverpool, London</p>
							</div>
							<div class="listing-footer-wrap property-lists mt-2">
								<div class="property-lists flex-1">
									<ul>
										<li><span class="flatcons"><img src="assets/img/color-bed.svg" alt=""></span>3 Beds</li>
										<li><span class="flatcons"><img src="assets/img/color-bathroom.svg" alt=""></span>2 Baths</li>
									</ul>
								</div>
								<h4 class="mdr-price">$670</h4>
							</div>
						</div>
					</div>	
				</div>
			</div>
			
		</div>
		
	</div>
</section>
<div class="clearfix"></div>
<!-- ============================ Recent Properties End ================================== -->

<!-- ============================ article Start ================================== -->
<section>
	<div class="container">
	
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8">
				<div class="sec-heading center">
					<h2>Latest News & Articles</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			
			<!-- Single blog Grid -->
			<div class="col-lg-4 col-md-6">
				<div class="grid_blog_box">
					
					<div class="gtid_blog_thumb">
						<a href="blog-detail.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></a>
					</div>								
					
					<div class="blog-body">
						<div class="artices_blog_ctas">
							<div class="artcles_cats"><a href="#">Web Design</a></div>
							<span class="post-date">3 Days ago</span>
						</div>
						<h4 class="bl-title"><a href="blog-detail.html">Verio Launch Modern Real Estate HTML Template with Lots of Features</a></h4>
					</div>
					
					<div class="modern_property_footer">
						<div class="property-author">
							<div class="path-img"><a href="agent-page.html" tabindex="-1"><img src="https://via.placeholder.com/500x500" class="img-fluid" alt=""></a></div>
							<h5><a href="agent-page.html" tabindex="-1">Shaurya Preet</a></h5>
						</div>
						<span class="article-pulish-date"><i class="ti-comment-alt mr-2"></i>202</span>
					</div>
					
				</div>
			</div>
			
			<!-- Single blog Grid -->
			<div class="col-lg-4 col-md-6">
				<div class="grid_blog_box">
					
					<div class="gtid_blog_thumb">
						<a href="blog-detail.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></a>
					</div>								
					
					<div class="blog-body">
						<div class="artices_blog_ctas">
							<div class="artcles_cats"><a href="#">Fashion</a></div>
							<span class="post-date">5 Days ago</span>
						</div>
						<h4 class="bl-title"><a href="blog-detail.html">Verio Launch Modern Real Estate HTML Template with Lots of Features</a></h4>
					</div>
					
					<div class="modern_property_footer">
						<div class="property-author">
							<div class="path-img"><a href="agent-page.html" tabindex="-1"><img src="https://via.placeholder.com/500x500" class="img-fluid" alt=""></a></div>
							<h5><a href="agent-page.html" tabindex="-1">Nirgam Singh</a></h5>
						</div>
						<span class="article-pulish-date"><i class="ti-comment-alt mr-2"></i>500</span>
					</div>
					
				</div>
			</div>
			
			<!-- Single blog Grid -->
			<div class="col-lg-4 col-md-6">
				<div class="grid_blog_box">
					
					<div class="gtid_blog_thumb">
						<a href="blog-detail.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></a>
						<div class="gtid_blog_info">
						</div>
					</div>								
					
					<div class="blog-body">
						<div class="artices_blog_ctas">
							<div class="artcles_cats"><a href="#">Electronics</a></div>
							<span class="post-date">1 month ago</span>
						</div>
						<h4 class="bl-title"><a href="blog-detail.html">Verio Launch Modern Real Estate HTML Template with Lots of Features</a></h4>
					</div>
					
					<div class="modern_property_footer">
						<div class="property-author">
							<div class="path-img"><a href="agent-page.html" tabindex="-1"><img src="https://via.placeholder.com/500x500" class="img-fluid" alt=""></a></div>
							<h5><a href="agent-page.html" tabindex="-1">Dhananjay Singh</a></h5>
						</div>
						<span class="article-pulish-date"><i class="ti-comment-alt mr-2"></i>480</span>
					</div>
					
				</div>
			</div>
			
		</div>
		
	</div>
</section>
<div class="clearfix"></div>
<!-- ============================ article End ================================== -->

<!-- ============================ Call To Action ================================== -->
<section class="newsletter inverse-theme">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8 col-sm-10">
				<div class="text-center">
					<h2>Signup for your real home thats feels you real home owner</h2>
					<p>Subscribe our newsletter & get latest news and updation!</p>
					<form class="sup-form">
						<input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
						<button type="submit" class="btn btn-theme bg-2">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}