{% extends 'base/user_dashboardBase.html' %}
{% load static %}

{% block content %}


            
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="dashboard-body w-100 p-3">

                    
                    <!-- Bookmark Property -->
                    <div class="frm_submit_block mb-3">	
                        <h4></h4>
                    </div>
                        
                    <div class="row">

                        <!-- Single Property -->
                        <table class="property-table-wrap responsive-table bkmark">

                            <tbody>
                                <tr>
                                    <th><i class="fa fa-file-text"></i> My Properties</th>
                                    <th></th>
                                </tr>
                                {% for prop in props %}
                                <!-- Item #1 -->
                                <tr>
                                    <td class="dashboard_propert_wrapper">
                                        <img style="width:20%; height:20%;" src="{{ prop.imageURL_one }}" alt="">
                                        <div class="title">
                                            <h4><a href="#">{{ prop.title}}</a></h4>
                                            <span>{{ prop.area}}</span>
                                            <span class="table-property-price">{{ prop.price}}</span>
                                        </div>
                                    </td>
                                    <td class="action">
                                        <a href="{% url 'properties:update_property' prop.id %}" style="width:10%; color:white;" class="alert btn-success">Edit</a>
                                        <a href="/properties/delete/{{prop.id}}" style="width:10%; color:white;" class="alert btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                

                            </tbody>
                        </table>

                        
                        <!-- <div>
                            <table id="dataTableExample" class="table" data-order=''>
                                <thead>
                    
                                  <tr>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Area</th>
                                    <th>Price</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for prop in props %}
                                  <tr>
                                    <td style="width:20%; height:20%;"><img src="{{ prop.imageURL_one }}" class="img-fluid" alt="" /></td>
                                    <td>{{ prop.title}}</td>
                                    <td>{{ prop.area}}</td>
                                    <td>{{ prop.price}}</td>
                                    <td><a href="{% url 'properties:update_property' prop.id %}" class="alert btn-success">Edit</a></td>
                                    <td><a href="/properties/delete/{{prop.id}}" class="alert btn-danger">Delete</a></td>
                                    
                                    
                                    
                                  </tr>
                                  {% endfor %}
                                </tbody>  
                              </table>
                        </div> -->
                        
                        
                                           
                    </div>
                    <!-- row -->
                    
                    
                    <div class="row">
                        <div class="col-md-12 col-lg-12 mt-4">
                            <footer class="text-center">
                                <p class="mb-0">© 2020 <a>PropertyBoss</a> All Rights Reserved</p>
                            </footer>
                        </div>
                    </div>
                    <!-- row -->
                    
                </div>
                    
            </div>
            
        

{% endblock %}