{% extends 'base/homeBase.html' %}
{% load static %}

<!-- ============================ Featured Property Start ================================== -->
{% block content %}
<section>
	<div class="container">
		
		<div id="forgot_password"  role="dialog" aria-labelledby="registermodal" >
            <div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
                <header class="modal_content_header">
                    <div class="hm_nav">
                        <h3 class="hm_nav_title">Forgot Password</h3>
                        <span class="mod-close" data-dismiss="modal" aria-hidden="true"><i class="ti-close"></i></span>
                        <span class="mod-close" data-dismiss="modal">Clear</span>
                    </div>
                </header>
                <div class="modal-content" id="registermodal">
                    <div class="modal-body">
                        <div class="login-form">
                            <form method="POST" action="">
                                {% csrf_token %}
                                {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
                {% endif %}
                            
                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="input-with-icon">
                                        <input type="text" class="form-control" placeholder="Email" name="email">
                                        <i class="ti-user"></i>
                                    </div>
                                </div>
                                
                                
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-md full-width pop-login bg-2">Submit</button>
                                </div>
                            
                            </form>
                        </div>
                        <!-- <div class="modal-divider"><span>Or login via</span></div> -->
                        
                    </div>
                </div>
            </div>
        </div>
		
	
			
		</div>
		
		
		
	</div>
</section>
<div class="clearfix"></div>
<!-- ============================ Featured Property End ================================== -->

<!-- ============================ Recent Properties Start ================================== -->

<!-- ============================ Recent Properties End ================================== -->

<!-- ============================ article Start ================================== -->
<section>
	<div class="container">
	
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8">
				<div class="sec-heading center">
					<h2>Latest News & Articles</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			
			<!-- Single blog Grid -->
			<div class="col-lg-4 col-md-6">
				<div class="grid_blog_box">
					
					<div class="gtid_blog_thumb">
						<a href="blog-detail.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></a>
					</div>								
					
					<div class="blog-body">
						<div class="artices_blog_ctas">
							<div class="artcles_cats"><a href="#">Web Design</a></div>
							<span class="post-date">3 Days ago</span>
						</div>
						<h4 class="bl-title"><a href="blog-detail.html">Verio Launch Modern Real Estate HTML Template with Lots of Features</a></h4>
					</div>
					
					<div class="modern_property_footer">
						<div class="property-author">
							<div class="path-img"><a href="agent-page.html" tabindex="-1"><img src="https://via.placeholder.com/500x500" class="img-fluid" alt=""></a></div>
							<h5><a href="agent-page.html" tabindex="-1">Shaurya Preet</a></h5>
						</div>
						<span class="article-pulish-date"><i class="ti-comment-alt mr-2"></i>202</span>
					</div>
					
				</div>
			</div>
			
			<!-- Single blog Grid -->
			<div class="col-lg-4 col-md-6">
				<div class="grid_blog_box">
					
					<div class="gtid_blog_thumb">
						<a href="blog-detail.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></a>
					</div>								
					
					<div class="blog-body">
						<div class="artices_blog_ctas">
							<div class="artcles_cats"><a href="#">Fashion</a></div>
							<span class="post-date">5 Days ago</span>
						</div>
						<h4 class="bl-title"><a href="blog-detail.html">Verio Launch Modern Real Estate HTML Template with Lots of Features</a></h4>
					</div>
					
					<div class="modern_property_footer">
						<div class="property-author">
							<div class="path-img"><a href="agent-page.html" tabindex="-1"><img src="https://via.placeholder.com/500x500" class="img-fluid" alt=""></a></div>
							<h5><a href="agent-page.html" tabindex="-1">Nirgam Singh</a></h5>
						</div>
						<span class="article-pulish-date"><i class="ti-comment-alt mr-2"></i>500</span>
					</div>
					
				</div>
			</div>
			
			<!-- Single blog Grid -->
			<div class="col-lg-4 col-md-6">
				<div class="grid_blog_box">
					
					<div class="gtid_blog_thumb">
						<a href="blog-detail.html"><img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="" /></a>
						<div class="gtid_blog_info">
						</div>
					</div>								
					
					<div class="blog-body">
						<div class="artices_blog_ctas">
							<div class="artcles_cats"><a href="#">Electronics</a></div>
							<span class="post-date">1 month ago</span>
						</div>
						<h4 class="bl-title"><a href="blog-detail.html">Verio Launch Modern Real Estate HTML Template with Lots of Features</a></h4>
					</div>
					
					<div class="modern_property_footer">
						<div class="property-author">
							<div class="path-img"><a href="agent-page.html" tabindex="-1"><img src="https://via.placeholder.com/500x500" class="img-fluid" alt=""></a></div>
							<h5><a href="agent-page.html" tabindex="-1">Dhananjay Singh</a></h5>
						</div>
						<span class="article-pulish-date"><i class="ti-comment-alt mr-2"></i>480</span>
					</div>
					
				</div>
			</div>
			
		</div>
		
	</div>
</section>
<div class="clearfix"></div>
<!-- ============================ article End ================================== -->

<!-- ============================ Call To Action ================================== -->
<section class="newsletter inverse-theme">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8 col-sm-10">
				<div class="text-center">
					<h2>Signup for your real home thats feels you real home owner</h2>
					<p>Subscribe our newsletter & get latest news and updation!</p>
					<form class="sup-form">
						<input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
						<button type="submit" class="btn btn-theme bg-2">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}