{% extends 'base/homeBase.html' %}
{% load static %}

<!-- ============================ Featured Property Start ================================== -->
{% block content %}
<div class="featured_slick_gallery gray">
	<div class="featured_slick_gallery-slide">
		<div class="featured_slick_padd"><a href="https://via.placeholder.com/1400x720" class="mfp-gallery"><img src="{{ property.imageURL_one }}" class="img-fluid mx-auto" alt="" /></a></div>
		<div class="featured_slick_padd"><a href="https://via.placeholder.com/1400x720" class="mfp-gallery"><img src="{{ property.imageURL_two }}" class="img-fluid mx-auto" alt="" /></a></div>
		<div class="featured_slick_padd"><a href="https://via.placeholder.com/1400x720" class="mfp-gallery"><img src="{{ property.imageURL_three }}" class="img-fluid mx-auto" alt="" /></a></div>
		<div class="featured_slick_padd"><a href="https://via.placeholder.com/1400x720" class="mfp-gallery"><img src="{{ property.imageURL_four }}" class="img-fluid mx-auto" alt="" /></a></div>
	</div>
</div>
<!-- ============================ Hero Banner End ================================== -->

<!-- ============================ Property Detail Start ================================== -->
<section class="gray-dark">
	<div class="container">
		<div class="row">
			
			<!-- property main detail -->
			<div class="col-lg-8 col-md-12 col-sm-12">
			
				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-toggle="collapse" data-parent="#features" href="#clOne" aria-expanded="true"><h4 class="property_block_title">Detail & Features</h4></a>
					</div>
					<div id="clOne" class="panel-collapse collapse show" aria-expanded="true">
						<div class="block-body">
							<ul class="deatil_features">
								<li><strong>Bedrooms:</strong>{{ property.bedrooms }}</li>
								<li><strong>Bathrooms:</strong>{{ property.bathrooms }}</li>
								<li><strong>Area:</strong>{{ property.area }}</li>
								
								<li><strong>Property Type:</strong>{{ property.types }}</li>
								
								<li><strong>Status:</strong>{{ property.status }}</li>
								
								<li><strong>Location:</strong>{{ property.location }}</li>
								<li><strong>Agent</strong>{{ property.customer.firstname }} {{ property.customer.lastname }}</li>
								<li><strong>Email:</strong>{{ property.customer.email }}</li>
								
								
							</ul>
						</div>
					</div>
					
				</div>
				
				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-toggle="collapse" data-parent="#dsrp" href="#clTwo" aria-expanded="true"><h4 class="property_block_title">Description</h4></a>
					</div>
					<div id="clTwo" class="panel-collapse collapse show" aria-expanded="true">
						<div class="block-body">
							<p>{{ property.description }}</p>
							
						</div>
					</div>
				</div>
				
				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-toggle="collapse" data-parent="#amen" href="#clThree" aria-expanded="true"><h4 class="property_block_title">Ameneties</h4></a>
					</div>
					
					<div id="clThree" class="panel-collapse collapse show" aria-expanded="true">
						<div class="block-body">
							<ul class="avl-features third color">
								<li>Air Conditioning</li>
								<li>Swimming Pool</li>
								<li>Central Heating</li>
								<li>Laundry Room</li>
								<li>Gym</li>
								<li>Alarm</li>
								<li>Window Covering</li>
								<li>Internet</li>
								<li>Pets Allow</li>
								<li>Free WiFi</li>
								<li>Car Parking</li>
								<li>Spa & Massage</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-toggle="collapse" data-parent="#vid" href="#clFour" aria-expanded="true" class="collapsed"><h4 class="property_block_title">Property video</h4></a>
					</div>
					
					<div id="clFour" class="panel-collapse collapse" aria-expanded="true">
						<div class="block-body">
							<div class="property_video">
								<div class="thumb">
									<img class="pro_img img-fluid w100" src="https://via.placeholder.com/1400x720" alt="7.jpg">
									<div class="overlay_icon">
										<div class="bb-video-box">
											<div class="bb-video-box-inner">
												<div class="bb-video-box-innerup">
													<a href="https://www.youtube.com/watch?v=A8EI6JaFbv4" data-toggle="modal" data-target="#popup-video" class="theme-cl"><i class="ti-control-play"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-toggle="collapse" data-parent="#floor" href="#clFive" aria-expanded="true" class="collapsed"><h4 class="property_block_title">Floor Plan</h4></a>
					</div>
					
					<div id="clFive" class="panel-collapse collapse" aria-expanded="true">
						<div class="block-body">
							<div class="accordion" id="floor-option">
								<div class="card">
									<div class="card-header" id="firstFloor">
										<h2 class="mb-0">
											<button type="button" class="btn btn-link" data-toggle="collapse" data-target="#firstfloor">First Floor<span>740 sq ft</span></button>									
										</h2>
									</div>
									<div id="firstfloor" class="collapse" aria-labelledby="firstFloor" data-parent="#floor-option">
										<div class="card-body">
											<img src="assets/img/floor.jpg" class="img-fluid" alt="" />
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="seconfFloor">
										<h2 class="mb-0">
											<button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#secondfloor">Second Floor<span>710 sq ft</span></button>
										</h2>
									</div>
									<div id="secondfloor" class="collapse" aria-labelledby="seconfFloor" data-parent="#floor-option">
										<div class="card-body">
											<img src="assets/img/floor.jpg" class="img-fluid" alt="" />
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="third-garage">
										<h2 class="mb-0">
											<button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#garages">Garage<span>520 sq ft</span></button>                     
										</h2>
									</div>
									<div id="garages" class="collapse" aria-labelledby="third-garage" data-parent="#floor-option">
										<div class="card-body">
											<img src="assets/img/floor.jpg" class="img-fluid" alt="" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-toggle="collapse" data-parent="#loca" href="#clSix" aria-expanded="true" class="collapsed"><h4 class="property_block_title">Location</h4></a>
					</div>
					
					<div id="clSix" class="panel-collapse collapse" aria-expanded="true">
						<div class="block-body">
							<div class="map-container">
								<div id="singleMap" data-latitude="40.7427837" data-longitude="-73.11445617675781" data-mapTitle="Our Location"></div>
							</div>

						</div>
					</div>
					
				</div>
				
				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-toggle="collapse" data-parent="#gal" href="#clSev" aria-expanded="true" class="collapsed"><h4 class="property_block_title">Gallery</h4></a>
					</div>
					
					<div id="clSev" class="panel-collapse collapse" aria-expanded="true">
						<div class="block-body">
							<ul class="list-gallery-inline">
								<li>
									<a href="https://via.placeholder.com/1400x720" class="mfp-gallery"><img src="https://via.placeholder.com/1400x720" class="img-fluid mx-auto" alt="" /></a>
								</li>
								<li>
									<a href="https://via.placeholder.com/1400x720" class="mfp-gallery"><img src="https://via.placeholder.com/1400x720" class="img-fluid mx-auto" alt="" /></a>
								</li>
								<li>
									<a href="https://via.placeholder.com/1400x720" class="mfp-gallery"><img src="https://via.placeholder.com/1400x720" class="img-fluid mx-auto" alt="" /></a>
								</li>
								<li>
									<a href="https://via.placeholder.com/1400x720" class="mfp-gallery"><img src="https://via.placeholder.com/1400x720" class="img-fluid mx-auto" alt="" /></a>
								</li>
								<li>
									<a href="https://via.placeholder.com/1400x720" class="mfp-gallery"><img src="https://via.placeholder.com/1400x720" class="img-fluid mx-auto" alt="" /></a>
								</li>
								<li>
									<a href="https://via.placeholder.com/1400x720" class="mfp-gallery"><img src="https://via.placeholder.com/1400x720" class="img-fluid mx-auto" alt="" /></a>
								</li>
							</ul>
						</div>
					</div>
					
				</div>
				
				<!-- Single Reviews Block -->
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-toggle="collapse" data-parent="#rev" href="#clEight" aria-expanded="true"><h4 class="property_block_title">102 Reviews</h4></a>
					</div>
					
					<div id="clEight" class="panel-collapse collapse show" aria-expanded="true">
						<div class="block-body">
							<div class="author-review">
								<div class="comment-list">
									<ul>
										<li class="article_comments_wrap">
											<article>
												<div class="article_comments_thumb">
													<img src="https://via.placeholder.com/500x500" alt="">
												</div>
												<div class="comment-details">
													<div class="comment-meta">
														<div class="comment-left-meta">
															<h4 class="author-name">Rosalina Kelian</h4>
															<div class="comment-date">19th May 2018</div>
														</div>
													</div>
													<div class="comment-text">
														<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab.
															perspiciatis unde omnis iste natus error.</p>
													</div>
												</div>
											</article>
										</li>
										<li class="article_comments_wrap">
											<article>
												<div class="article_comments_thumb">
													<img src="https://via.placeholder.com/500x500" alt="">
												</div>
												<div class="comment-details">
													<div class="comment-meta">
														<div class="comment-left-meta">
															<h4 class="author-name">Rosalina Kelian</h4>
															<div class="comment-date">19th May 2018</div>
														</div>
													</div>
													<div class="comment-text">
														<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab.
															perspiciatis unde omnis iste natus error.</p>
													</div>
												</div>
											</article>
										</li>
									</ul>
								</div>
							</div>
							<a href="#" class="reviews-checked theme-cl"><i class="fas fa-arrow-alt-circle-down mr-2"></i>See More Reviews</a>
						</div>
					</div>
					
				</div>
				
				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-toggle="collapse" data-parent="#nerby" href="#clNine" aria-expanded="true"><h4 class="property_block_title">Nearby</h4></a>
					</div>
					
					<div id="clNine" class="panel-collapse collapse show" aria-expanded="true">
						<div class="block-body">
							
							<!-- Schools -->
							<div class="nearby-wrap">
								<div class="nearby_header">
									<div class="nearby_header_first">
										<h5>Schools Around</h5>
									</div>
									<div class="nearby_header_last">
										<div class="nearby_powerd">
											Powerd by <img src="assets/img/edu.png" class="img-fluid" alt="" />
										</div>
									</div>
								</div>
								<div class="neary_section_list">
								
									<div class="neary_section">
										<div class="neary_section_first">
											<h4 class="nearby_place_title">Green Iseland School<small>(3.52 mi)</small></h4>
										</div>
										<div class="neary_section_last">
											<div class="nearby_place_rate">
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star"></i>														
											</div>
											<small class="reviews-count">(421 Reviews)</small>
										</div>
									</div>
									
									<div class="neary_section">
										<div class="neary_section_first">
											<h4 class="nearby_place_title">Ragni Intermediate College<small>(0.52 mi)</small></h4>
										</div>
										<div class="neary_section_last">
											<div class="nearby_place_rate">
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star-half filled"></i>														
											</div>
											<small class="reviews-count">(470 Reviews)</small>
										</div>
									</div>
									
									<div class="neary_section">
										<div class="neary_section_first">
											<h4 class="nearby_place_title">Rose Wood Primary Scool<small>(0.47 mi)</small></h4>
										</div>
										<div class="neary_section_last">
											<div class="nearby_place_rate">
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star"></i>														
											</div>
											<small class="reviews-count">(204 Reviews)</small>
										</div>
									</div>
									
								</div>
							</div>
							
							<!-- Hotel & Restaurant -->
							<div class="nearby-wrap">
								<div class="nearby_header">
									<div class="nearby_header_first">
										<h5>Food Around</h5>
									</div>
									<div class="nearby_header_last">
										<div class="nearby_powerd">
											Powerd by <img src="assets/img/food.png" class="img-fluid" alt="" />
										</div>
									</div>
								</div>
								<div class="neary_section_list">
								
									<div class="neary_section">
										<div class="neary_section_first">
											<h4 class="nearby_place_title">The Rise hotel<small>(2.42 mi)</small></h4>
										</div>
										<div class="neary_section_last">
											<div class="nearby_place_rate">
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>														
											</div>
											<small class="reviews-count">(105 Reviews)</small>
										</div>
									</div>
									
									<div class="neary_section">
										<div class="neary_section_first">
											<h4 class="nearby_place_title">Blue Ocean Bar & Restaurant<small>(1.52 mi)</small></h4>
										</div>
										<div class="neary_section_last">
											<div class="nearby_place_rate">
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star"></i>														
											</div>
											<small class="reviews-count">(40 Reviews)</small>
										</div>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
				
				<!-- Single Write a Review -->
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-toggle="collapse" data-parent="#comment" href="#clTen" aria-expanded="true"><h4 class="property_block_title">Write a Review</h4></a>
					</div>
					
					<div id="clTen" class="panel-collapse collapse show" aria-expanded="true">
						<div class="block-body">
							<form class="form-simple">
								<div class="row">
									
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<textarea class="form-control ht-80" placeholder="Messages"></textarea>
										</div>
									</div>
									
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Property Title">
										</div>
									</div>
									
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Your Name">
										</div>
									</div>
									
									<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="form-group">
											<input type="email" class="form-control" placeholder="Your Email">
										</div>
									</div>
									
									<div class="col-lg-12 col-md-12 col-sm-12">
										<div class="form-group">
											<button class="btn btn-theme" type="submit">Submit Review</button>
										</div>
									</div>
									
								</div>
							</form>
						</div>
					</div>
					
				</div>
				
			</div>
			
			<!-- property Sidebar -->
			<div class="col-lg-4 col-md-12 col-sm-12">
				<div class="property-sidebar">
					
					<!-- Share & Like Button -->
					<div class="like_share_wrap b-0">
						<ul class="like_share_list">
							<li><a href="#" class="btn btn-likes" data-toggle="tooltip" data-original-title="Share"><i class="fas fa-share"></i>Share</a></li>
							<li><a href="#" class="btn btn-likes" data-toggle="tooltip" data-original-title="Save"><i class="fas fa-heart"></i>Save</a></li>
						</ul>
					</div>
					
					<div class="agent-_blocks_wrap b-0">
						<div class="side-booking-header">
							<h3 class="price">$70<sub>per night</sub></h3>
						</div>
						<div class="side-booking-body">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-6">
									<div class="form-group">
										<div class="cld-box">
											<i class="ti-calendar"></i>
											<input type="text" name="checkin" class="form-control" value="10/24/2020" />
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-6">
									<div class="form-group">
										<div class="cld-box">
											<i class="ti-calendar"></i>
											<input type="text" name="checkout" class="form-control" value="10/24/2020" />
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-6">
									<div class="form-group">
										<div class="guests">
										  <label for="guests">Adults</label>
										  <div class="guests-box">
											  <button class="counter-btn" type="button" id="cnt-down"><i class="ti-minus"></i></button>
											  <input type="text" id="guestNo" name="guests" value="2"/>
											  <button class="counter-btn" type="button" id="cnt-up"><i class="ti-plus"></i></button>
										  </div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-6">
									<div class="form-group">
										<div class="guests">
										  <label for="guests">Kids</label>
										  <div class="guests-box">
											  <button class="counter-btn" type="button" id="kcnt-down"><i class="ti-minus"></i></button>
											  <input type="text" id="kidsNo" name="kids" value="0"/>
											  <button class="counter-btn" type="button" id="kcnt-up"><i class="ti-plus"></i></button>
										  </div>
										</div>
									</div>
								</div>
								
								<div class="side-booking-foot">
									<span class="sb-header-left">Total</span>
									<h3 class="price theme-cl">$170</h3>
								</div>
								
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="stbooking-footer mt-1">
										<div class="form-group mb-0 pb-0">
											<a href="#" class="btn btn-md full-width btn-theme bg-2">Book It Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
					<!-- Agent Detail -->
					<div class="agent-_blocks_wrap b-0">
						<div class="side-block-header">
							<h3 class="title">Message To Author</h3>
						</div>
						<div class="side-block-body">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Your Name" />
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email Address" />
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Contact Number" />
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="form-group">
										<textarea class="form-control" placeholder="Type Message"></textarea>
									</div>
								</div>
								
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="stbooking-footer mt-1">
										<div class="form-group mb-0 pb-0">
											<a href="#" class="btn btn-md full-width btn-theme bg-2">Submit Request</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Download Pdf Report -->
					<div class="downld_rport b-0">
						<ul>
							<li class="pdf"><a href="tel:(+234){{ property.customer.phone_number }}"> <span><i class="fa fa-phone">Call {{property.customer.role}}</i></span> </a></li>
							<li><a href="#"><i class="ti-printer"></i>Printout<span>Full Report</span></a></li>
						</ul>
					</div>
					
					<!-- Featured Property -->
					<div class="sidebar-widgets">
						
						<h4>Similar Property</h4>
						
						<div class="sidebar_featured_property">
							
							<!-- List Sibar Property -->
							<div class="sides_list_property midium b-0">
								<div class="sides_list_property_thumb">
									<img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">Loss vengel New Apartment</a></h4>
									<span><i class="ti-location-pin"></i>Sans Fransico</span>
									<div class="lists_property_types mt-1">
										<div class="property_types_vlix sale">For Sale</div>
									</div>
									<div class="lists_property_price">
										<div class="lists_property_price_value first">
											<h4>$4,240</h4>
										</div>
										<div class="lists_property_added">
											<small>3 days ago</small>
										</div>
									</div>
								</div>
							</div>
							
							<!-- List Sibar Property -->
							<div class="sides_list_property midium b-0">
								<div class="sides_list_property_thumb">
									<img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">Montreal Quriqe Apartment</a></h4>
									<span><i class="ti-location-pin"></i>Liverpool, London</span>
									<div class="lists_property_types mt-1">
										<div class="property_types_vlix">For Rent</div>
									</div>
									<div class="lists_property_price">
										<div class="lists_property_price_value first">
											<h4>$7,380</h4>
										</div>
										<div class="lists_property_added">
											<small>10 days ago</small>
										</div>
									</div>
								</div>
							</div>
							
							<!-- List Sibar Property -->
							<div class="sides_list_property midium b-0">
								<div class="sides_list_property_thumb">
									<img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">Curmic Studio For Office</a></h4>
									<span><i class="ti-location-pin"></i>Montreal, Canada</span>
									<div class="lists_property_types mt-1">
										<div class="property_types_vlix">For Rent</div>
									</div>
									<div class="lists_property_price">
										<div class="lists_property_price_value first">
											<h4>$8,730</h4>
										</div>
										<div class="lists_property_added">
											<small>25 days ago</small>
										</div>
									</div>
								</div>
							</div>
							
							<!-- List Sibar Property -->
							<div class="sides_list_property midium b-0">
								<div class="sides_list_property_thumb">
									<img src="https://via.placeholder.com/1200x800" class="img-fluid" alt="">
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">Lisque Viral Villa</a></h4>
									<span><i class="ti-location-pin"></i>Sreek View, New York</span>
									<div class="lists_property_types mt-1">
										<div class="property_types_vlix buy">For Buy</div>
									</div>
									<div class="lists_property_price">
										<div class="lists_property_price_value first">
											<h4>$7,240</h4>
										</div>
										<div class="lists_property_added">
											<small>29 days ago</small>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						
					</div>
				
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- ============================ article End ================================== -->
<input type="hidden" id="my_number" value="{{ property.customer.whatsapp_phone_number }}" >
<input type="hidden" id="my_role" value="{{ property.customer.role }}" >
<div id="myDiv"></div>
<!-- ============================ Call To Action ================================== -->
<section class="newsletter inverse-theme">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8 col-sm-10">
				<div class="text-center">
					<h2>Signup for your real home thats feels you real home owner</h2>
					<p>Subscribe our newsletter & get latest news and updation!</p>
					<form class="sup-form">
						<input type="email" class="form-control sigmup-me" placeholder="Your Email Address" required="required">
						<button type="submit" class="btn btn-theme bg-2">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}