
{% extends 'base/user_dashboardBase.html' %}
{% load static %}

{% block content %}

            
            <div class="col-lg-9 col-md-8 p-0">
                <div class="dashboard-body">
                    
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="dashboard_stats_wrap widget-4">
                                <div class="dashboard_stats_wrap_content"><h4></h4> <span>Featured Included</span></div>
                                <div class="dashboard_stats_wrap-icon"><i class="ti-user"></i></div>
                            </div>	
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="dashboard_stats_wrap widget-4">
                                <div class="dashboard_stats_wrap_content"><h4></h4> <span>Featured Included</span></div>
                                <div class="dashboard_stats_wrap-icon"><i class="ti-user"></i></div>
                            </div>	
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="dashboard_stats_wrap widget-4">
                                <div class="dashboard_stats_wrap_content"><h4></h4> <span>Featured Included</span></div>
                                <div class="dashboard_stats_wrap-icon"><i class="ti-user"></i></div>
                            </div>	
                        </div> <br><br>
                        
                        <div>
                            <h2>Subscription Successful</h2><br>
                            <h4>Hello {{request.user.firstname}} {{request.user.lastname}}</h4><br>
                            
                                    <h6 class="alert btn-success">You have Successfully Subscribed To The {{ sub.user_plan.plan }} plan</h6>
                                    
                        </div>
                        
                        
                        
                    </div><br><br>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="dashboard_stats_wrap widget-4">
                                <div class="dashboard_stats_wrap_content"><h4></h4> <span>Featured Included</span></div>
                                <div class="dashboard_stats_wrap-icon"><i class="ti-user"></i></div>
                            </div>	
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="dashboard_stats_wrap widget-4">
                                <div class="dashboard_stats_wrap_content"><h4></h4> <span>Featured Included</span></div>
                                <div class="dashboard_stats_wrap-icon"><i class="ti-user"></i></div>
                            </div>	
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="dashboard_stats_wrap widget-4">
                                <div class="dashboard_stats_wrap_content"><h4></h4> <span>Featured Included</span></div>
                                <div class="dashboard_stats_wrap-icon"><i class="ti-user"></i></div>
                            </div>	
                        </div>
                    </div>
                    <!--  row -->
                    
                    <!-- <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="mb-0">Extra Area Chart</h4>
                                </div>
                                <div class="card-body">
                                    <ul class="list-inline text-center m-t-40">
                                        <li>
                                            <h5><i class="fa fa-circle m-r-5 text-warning"></i>Website A</h5>
                                        </li>
                                        <li>
                                            <h5><i class="fa fa-circle m-r-5 text-danger"></i>Website B</h5>
                                        </li>
                                        <li>
                                            <h5><i class="fa fa-circle m-r-5 text-success"></i>Website C</h5>
                                        </li>
                                    </ul>
                                    <div class="chart" id="extra-area-chart" style="height: 300px;"></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- row -->
                    
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <footer class="text-center">
                                <p class="mb-0">© 2021  <a >PropertyBoss</a> All Rights Reserved</p>
                            </footer>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        
{% endblock %}