
{% extends 'base/user_dashboardBase.html' %}
{% load static %}

{% block content %}

            
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="dashboard-body">
                
                    <div class="dashboard-wraper">
                    
                        <!-- Basic Information -->
                        <div class="frm_submit_block">	
                            <h4>My Account</h4>
                            <div class="modal-content" id="sign-up">
                                <div class="modal-body">
                                    <div class="login-form">
                                        <form  method="POST" enctype="multipart/form-data" action="">
                                            {% csrf_token %}
        
                                            {% if form.errors %}
                                    {% for field in form %}
                                {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                            {% endfor %}
                                {% endfor %}
                            {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                        {% endfor %}
                        {% endif %}
                                            <div class="row">
                                                
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="form-group">
                                                        <label>First Name</label>
                                                        <div class="input-with-icon">
                                                            {{ u_form.firstname}}
                                                            <!-- <input type="text" class="form-control" placeholder="Full Name"> -->
                                                            <i class="ti-user"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="form-group">
                                                        <label>Last Name</label>
                                                        <div class="input-with-icon">
                                                            {{ u_form.lastname}}
                                                            <!-- <input type="email" class="form-control" placeholder="Email"> -->
                                                            <i class="ti-email"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="form-group">
                                                        <label>email</label>
                                                        <div class="input-with-icon">
                                                            {{ u_form.email}}
                                                            <!-- <input type="text" class="form-control" placeholder="Username"> -->
                                                            <i class="ti-user"></i>
                                                        </div>
                                                    </div>
                                                </div>
        
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="form-group">
                                                        <label>Role</label>
                                                        <div class="input-with-icon">
                                                            {{ u_form.role}}
                                                            <!-- <input type="text" class="form-control" placeholder="Username"> -->
                                                            <i class="ti-user"></i>
                                                        </div>
                                                    </div>
                                                </div>
        
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="form-group">
                                                        <label>Phone Number</label>
                                                        <div class="input-with-icon">
                                                            {{ u_form.phone_number}}
                                                            <!-- <input type="text" class="form-control" placeholder="Username"> -->
                                                            <i class="ti-user"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="form-group">
                                                        <label>Profile Picture</label>
                                                        <div class="input-with-icon">
                                                            {{ p_form.profile_pic}}
                                                            <!-- <input type="password" class="form-control" placeholder="*******"> -->
                                                            <i class="ti-unlock"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="form-group">
                                                        <label>ID Card</label>
                                                        <div class="input-with-icon">
                                                            {{ p_form.id_card}}
                                                            <!-- <input type="password" class="form-control" placeholder="*******"> -->
                                                            <i class="ti-unlock"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-md full-width pop-login bg-2">Update Profile</button>
                                            </div>
                                        
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- <div class="frm_submit_wrap">
                                <div class="form-row">
                                
                                    <div class="form-group col-md-6">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" value="{{request.user.firstname}}" readonly>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" value="{{request.user.lastname}}" readonly>
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                                        <label>Email</label>
                                        <input type="email" class="form-control" value="{{request.user.email}}" readonly>
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                                        <label>Role</label>
                                        <input type="text" class="form-control" value="{{request.user.role}}" readonly>
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" value="{{request.user.phone_number}}" readonly>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </div> -->
                        </div>
                        
                        <!-- <div class="frm_submit_block">	
                            <h4>Social Accounts</h4>
                            <div class="frm_submit_wrap">
                                <div class="form-row">
                                
                                    <div class="form-group col-md-6">
                                        <label>Facebook</label>
                                        <input type="text" class="form-control" value="https://facebook.com/">
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                                        <label>Twitter</label>
                                        <input type="email" class="form-control" value="https://twitter.com/">
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                                        <label>Google Plus</label>
                                        <input type="text" class="form-control" value="https://googleplus.com">
                                    </div>
                                    
                                    <div class="form-group col-md-6">
                                        <label>LinkedIn</label>
                                        <input type="text" class="form-control" value="https://linkedin.com/">
                                    </div>
                                    
                                    <div class="form-group col-lg-12 col-md-12">
                                        <button class="btn btn-theme bg-2" type="submit">Save Changes</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div> -->
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 col-lg-12 mt-4">
                            <footer class="text-center">
                                <p class="mb-0">© 2020 Verio. Designd By <a href="#">Pexel Experts</a> All Rights Reserved</p>
                            </footer>
                        </div>
                    </div>
                    <!-- row -->
                
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}